<%= if @current_user do %>
    <%= link @current_user.email, to: Routes.user_settings_path(@conn, :edit), class: "float-right px-6 py-3 font-bold uppercase text-secondary hover:text-primary" %>
<% end %>