<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mindfull", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i,700&display=swap" rel="stylesheet">
  </head>
  <body class="font-custom min-h-screen">
    <header class="py-4 px-6 absolute top-0 left-0 right-0 z-10">
      <div class="container mx-auto">
        <div class="flex items-center">
          <button class="text-secondary lg:hidden">
            <svg class="current-fill h-6 w-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                                                                                                               viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
              <g>
              <g>
              <path d="M413,422H1c-13.807,0-25-11.193-25-25s11.193-25,25-25h412c13.807,0,25,11.193,25,25S426.807,422,413,422z"/>
              </g>
              <g>
              <path d="M413,562H1c-13.807,0-25-11.193-25-25s11.193-25,25-25h412c13.807,0,25,11.193,25,25S426.807,562,413,562z"/>
              </g>
              <g>
              <path d="M413,282H1c-13.807,0-25-11.193-25-25s11.193-25,25-25h412c13.807,0,25,11.193,25,25S426.807,282,413,282z"/>
              </g>
              </g>
            </svg>

          </button>
          <nav class="hidden lg:flex items-center">
            <a href="/" class="px-6 py-3 font-bold uppercase text-primary border-b-2 border-primary">Home</a>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "px-6 py-3 font-bold uppercase text-secondary hover:text-primary" %>
            <% end %>
            <%= link "New classroom", to: Routes.new_path(@conn, :new), class: "px-6 py-3 font-bold uppercase text-secondary hover:text-primary" %>
            <%= render "_user_menu.html", assigns %>
          </nav>
        </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
  <footer class="bg-blue-100">
    <div class="container mx-auto px-6 py-12 text-secondary-500 text-center border-t border-gray-300">
      <p>Copyright ©20202 Mauldfullus. All rights reserved.</p>
    </div>
  </footer>
</html>
